<?xml version="1.0" encoding="UTF-8"?>
<!-- application logging configuration to ship logs directly to RTLog -->
<configuration>
	<!-- import Logback base config -->
	<include resource="logback-base.xml" />

	<!-- see: https://logback.qos.ch/manual/appenders.html#SyslogAppender -->
    <appender name="RTLOG" class="ch.qos.logback.core.net.RTLogAppender">
    	<!-- remote syslog server -->
    	<syslogHost>${RTLOG_HOST}</syslogHost>
        <port>${RTLOG_PORT}</port>
        <facility>USER</facility>
		<basicat>${RTLOG_BASICAT}</basicat>
		<program>woofer</program>
		<product>notifier</product>
		<logfile>java</logfile>
		<!-- enriches the stack trace with unique hash -->
		<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
			<inlineHash>true</inlineHash>
			<exclusions>${STE_EXCLUSIONS}</exclusions>
		</throwableConverter>
    </appender>
	
	<logger name="com.orange" level="DEBUG" />
	
	<root level="INFO">
		<appender-ref ref="RTLOG" />
	</root>
</configuration>