<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Error</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div id="lo-error-dialog" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">
						<span class="lo-http-code" th:text="${error.status.status.value()}">Http Status Code</span>
						<span class="lo-http-name" th:text="${niceHttpStatus}">Http Status Name</span>
					</h1>
				</div>
				<div class="modal-body">
 					<p th:utext="${#messages.msgOrNull('error.' + error.status.name() + '.desc')} ?: ${description}">Error description</p>
				</div>
				<div class="modal-footer">
					<div id="details" class="collapse">
						<span th:if="${error.status.status.value() == 500}" class="tip glyphicon glyphicon-info-sign" style="float: right" aria-hidden="true" th:title="#{error.500.tip}"></span>
						<div class="lo-error-code" th:text="'[' + ${error.status.code} + '] ' + ${error.status.name()}">[CODE] Name</div>
						<pre class="lo-error-message" th:unless="${#strings.isEmpty(error.description)}" th:text="${error.description}">Error message</pre>
					</div>
					<a class="btn" href="#" data-toggle="collapse" data-target="#details">View details »</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
