<?xml version="1.0" encoding="UTF-8"?>
<!-- application logging configuration to ship logs directly to Logstash -->
<configuration>
	<!-- import Logback base config -->
	<include resource="logback-base.xml" />

	<appender name="TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    	<!-- remote Logstash server -->
    	<remoteHost>${LOGSTASH_HOST}</remoteHost>
        <port>${LOGSTASH_PORT}</port>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<!-- computes and adds a 'stack_hash' field on errors -->
			<provider class="net.logstash.logback.composite.loggingevent.StackHashJsonProvider">
				<exclusions>${STE_EXCLUSIONS}</exclusions>
			</provider>
			<!-- enriches the stack trace with unique hash -->
			<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
				<inlineHash>true</inlineHash>
				<exclusions>${STE_EXCLUSIONS}</exclusions>
			</throwableConverter>
	        <customFields>{"@project":"${MD_PROJECT:--}","@app":"webfront","@type":"java"}</customFields>
		</encoder>
    </appender>
	
	<logger name="com.orange" level="DEBUG" />
	
	<root level="INFO">
		<appender-ref ref="TCP" />
	</root>
</configuration>