<?xml version="1.0" encoding="UTF-8"?>
<!-- application logging configuration to ship logs directly to Logstash -->
<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <appender name="TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    	<!-- remote Logstash server -->
    	<remoteHost>${LOGSTASH_HOST}</remoteHost>
        <port>${LOGSTASH_PORT}</port>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<!-- computes and adds a 'stack_hash' field on errors -->
			<provider class="com.orange.common.logging.logback.StackHashJsonProvider"/>
			<!-- enriches the stack trace with unique hash -->
	        <throwableConverter class="com.orange.common.logging.logback.CustomThrowableConverterWithHash" />
	        <customFields>{"@project":"${MD_PROJECT:--}","@app":"webfront","@type":"java"}</customFields>
		</encoder>
    </appender>
	
	<logger name="com.orange" level="DEBUG" />
	
	<root level="INFO">
		<appender-ref ref="TCP" />
	</root>
</configuration>